@{
    ViewData["Title"] = "سياسة الخصوصية";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body p-4 p-lg-5">
        <p class="lead">آخر تحديث: 21 أكتوبر 2025</p>
        <p>نحن في نظام إدارة الحضانة ("نحن"، "لدينا"، "الخاص بنا") نلتزم بحماية خصوصيتك. توضح سياسة الخصوصية هذه كيفية جمع واستخدام والكشف عن وحماية معلوماتك عند استخدامك لموقعنا.</p>

        <h4 class="mt-4 fw-bold">1. المعلومات التي نجمعها</h4>
        <p>قد نجمع معلومات شخصية منك بعدة طرق، بما في ذلك، على سبيل المثال لا الحصر، عند زيارة موقعنا، التسجيل في الموقع، وتعبئة نموذج. قد يُطلب منك، حسب الاقتضاء، الاسم، عنوان البريد الإلكتروني، رقم الهاتف.</p>

        <h4 class="mt-4 fw-bold">2. كيف نستخدم معلوماتك</h4>
        <p>نستخدم المعلومات التي نجمعها منك للأغراض التالية:</p>
        <ul>
            <li>لتشغيل وصيانة الموقع.</li>
            <li>لتحسين خدمة العملاء.</li>
            <li>لإرسال رسائل بريد إلكتروني دورية.</li>
            <li>لتخصيص تجربتك.</li>
        </ul>

        <h4 class="mt-4 fw-bold">3. حماية معلوماتك</h4>
        <p>نعتمد ممارسات جمع بيانات وتخزين ومعالجة مناسبة وتدابير أمنية للحماية من الوصول غير المصرح به أو التغيير أو الكشف أو إتلاف معلوماتك الشخصية واسم المستخدم وكلمة المرور ومعلومات المعاملات والبيانات المخزنة على موقعنا.</p>

        <h4 class="mt-4 fw-bold">4. مشاركة معلوماتك الشخصية</h4>
        <p>نحن لا نبيع أو نتاجر أو نؤجر معلومات التعريف الشخصية للمستخدمين لآخرين.</p>

        <h4 class="mt-4 fw-bold">5. التغييرات على سياسة الخصوصية هذه</h4>
        <p>لدينا السلطة التقديرية لتحديث سياسة الخصوصية هذه في أي وقت. عندما نفعل ذلك، سنقوم بمراجعة تاريخ التحديث في أعلى هذه الصفحة. نشجع المستخدمين على مراجعة هذه الصفحة بشكل متكرر للاطلاع على أي تغييرات للبقاء على علم بكيفية المساعدة في حماية المعلومات الشخصية التي نجمعها.</p>

    </div>
</div>
